---
title: "The Future Of Work"
date: 2014-11-10 11:48
comments: true
tags: shift,futureWork

---
div.row
  div.article
    markdown:

      An nice food for tought presentation which outlines the importance of leveraging internal and external talents in future working models, which are increasingly digital.

      Companies don't necessarily deal in things, but they deal in knowledge, worthwile read.

      <iframe src="http://www.slideshare.net/slideshow/embed_code/27110077?rel=0" width="512" height="421" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC;border-width:1px 1px 0;margin-bottom:5px" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="https://www.slideshare.net/Achievers/the-future-of-work-27110077" title="The Future of Work" target="_blank">The Future of Work</a> </strong> from <strong><a href="http://www.slideshare.net/Achievers" target="_blank">Achievers</a></strong> </div>
