---
title: "User, Customer, Partner some thoughts about terminology in banking"
date: 2014-10-21 15:45
comments: true
tags: modeling,banking
---
div.row
  div.article
    markdown:
      There is an entertaining debate kicked off by @Jack "Jack Dorsey" (Twitter  and Square founder) on a business concept term level, which resulted in a follow up by @davewiner "Dave Winer"" (pioneered the development of weblogs, syndication (RSS), podcasting and others). 

      <!--more-->

      In short the social web icon Jack Dorsey  was challenging in his tumblr blog the core concept *user*, as nicely formulated by Dave

      > Why do we use that awful U-word to describe our users

      According to Jack the term *user* is too passive and abstract for describing the clientele of Square

      > The entire technology industry uses the word “user” to describe its customers. While it might be convenient, “users” is a rather passive and abstract word. No one wants to be thought of as a “user” (or “consumer” for that matter). I certainly don’t. And I wouldn’t consider my mom a “user” either, she’s my mom. The word “user” abstracts the actual individual. This may seem like a small and insignificant detail that doesn’t matter, but the vernacular and words we use here at Square set a very strong and subtle tone for everything we do. So let’s now part ways with our industry and rethink this.

      (via [Let's reconsider our "users" - Jack's](http://jacks.tumblr.com/post/33785796042/lets-reconsider-our-users))

      So he asks for a mind shift in his company and to switch to the term *customer*

      > At Square we’re removing the term “users” from our vocabulary, replacing it with “customers”, and the more specific “buyers”, and “sellers.” The word customer, given its history, immediately sets a high bar on the level of service we must provide, or risk losing their attention or business. Below is a letter I sent the team after that Board meeting explaining why. It’s a start (we’re not done yet).

      Well that's a statement, which got challenged by Dave. 

      > It's hard to even formulate the question without sounding stupid. And every time the discussion comes up, it lasts a while before everyone gives up because there really aren't any better words, and this is the word everyone uses so what are you going to do.

      which continues

      > Hey I called my second company UserLand Software, because I wanted to be clear who we were focused on. The idea was we would make a wonderful playground that we, as users, would love to er ahem -- use. And we'd make it easy enough to develop apps inside the land that developers and users would find they became the same people. Software made by users for users. This was a good idea, I felt.

      (via [Thread: Let's call them users](http://threads2.scripting.com/2012/october/aboutCallingUsersUsers#daveWiner))

      Well to be honest both side have their points and the debate could go on definitely for some time. It remembers me at my endless discussions at UBS  when we were ( well we are still aligning it) working out a global business concept model in the area of static client data and aligning the different views of the topic by regional wealth management units of Switzerland, APAC, Americas as well as the diametral view of the global acting investment bank unit. 

      Let me give you an overview how a classic financial institution is modeling this business concept (which yet will give you another view on these concepts)

      First of all I take here the radical target view that the business model of a classic bank at the end isn't really different than that of any new social stylish company.  Currently there is a big shift in todays enterprises from a push model to a pull one which holds true for banks as well (if the current big player in banking will be enough fast to convert to this new model is questionable and time will show us who will survive) . Refer to my earlier  [Blog entry](http://cloudburo.github.com/blog/2012/10/16/the-big-shift/), where I describe this trend in more detail (based on the research paper by John Hagel) 

      > Things are different in a service-oriented company. The sale of the product is merely the inauguration of the customer relationship, with many subsequent interactions to follow. And the service-oriented company may offer to transfer the product to the customer in return for a stream of payments, instead of one initial sum. The company and customer remain engaged throughout the stream of payments.

      So a bank is a classical service oriented company which is approaching customers over various channels in order to sell services which are packaged into banking products. Not the selling of the product is in the center but to establish a long lasting relationship. 

      First of all we start with the concept  **Party**:

      > A **Party**  is a person or group of persons that compose a single entity which can be identified as one for the purposes of the law. 

      So any person with which a bank deals and interacts is a **Party**.

      The bank itself will be named in this context the **Legal Entity**

      > A **Legal Entity** is an association, corporation, partnership, proprietorship, trust, or individual that has legal standing in the eyes of law. A legal entity has legal capacity to enter into agreements or contracts, assume obligations, incur and pay debts, sue and be sued in its own right, and to be held responsible for its actions.

      A legal entity is a key concept taken into consideration that a multinational bank consists of a tremendous amount of independent legal entities (within a country itself as well as globally), which must be correctly identified in the business modeling. As the definition is outlining, legal entity would also be the correct concept in a micro business with one individual. From a business purpose he has the legal capacity to open up a startup business (but a minor wouldn't have this capacity on its own).

      From a birds eye view a bank or enterprise is made up of a collection of **Legal Entities** which are in **Business Relationships** with  **Parties**. 

      >A **Business Relationship** is expressing the relationship between a **Party** and a **Legal Entity** which are doing any kind of business.

      On that level a party can be anything, it could be

      * The *real estate company* which is renting out office space to the bank
      * The *third party financial company* which issues some instruments packaged into a banking product and sold to its customers
      * The *bank customer* which is opening up a banking account and purchases some services
      * But also the *cleaning company* which takes care that the office got cleaned on a periodical base.

      It's clear that the concept of  **Party** is too coarse grain to express the customer which is buying products from us and which is highly valuable  (it's on the same level as the concept user used in the new social business).

      What we introduced is the concept of **Partner**

      > A **Partner** is a **Party** which is any kind of relationship with a **Legal Entity** concerning our service- or product offering.

      So a **Partner** is really a **Party** which is important for our core business and therefore we should treat and act with him as any of persons with whom were in any kind of **Partnership**.

      >A **Partnership** is an arrangement where parties agree to cooperate to advance their mutual interests.

      *Advance their mutual interests* (that one of the bank and the one of the customer) should be the ultimate target to achieve, which will  result in a hopefully long lasting relationship and finally generate earnings for both sides.

      We differentiate the following Partners.

      * A **Partner** which expresses interest to enter into a **Banking Relationship** with one **Legal Entity** in order to be advised and/or to buy products of the bank (a so called **Prospect**) 
      * A **Partner** which is in a **Banking Relationship** and which is advised and/or bought banking products. At the end this the so-called **Customer**. 
      * A **Partner** which is in a relationship with another **Partner** which has a **Banking Relationship** with the bank. This  **Partner to Partner Relationship** is another important concept which is used to express relationships like **Power of Attorney**, **Beneficial Owner** etc. 

      ![Concepts](/images/coreconcepts.png)

      In order to complete the picture we have to define the incarnation  of a Banking Relationship more precisely.

      >A **Banking Relationship** between a **Partner** and **Legal Entity** will be created as soon as the **Partner** will sign a **Banking Agreement** (or more) in order to benefit and purchase services by the bank. 

      By signing a **Banking Agreement** an on-boarding will take place, which results in diligence verification checks of the Partner. The importance and complexity of such "Know Your Customers" (KYC) checks  is growing rapidly in relation with the number of new legal and regulatory intoruced in the financial market. This on-boarding will result in some kind of signed physical or electronically signed form(s) which are an integral part of the newly created **Banking Relationship**.

      Having reached this point the bank is looking forward for a fruitful and long lasting partnership with its customer.

      This concludes this blog entry, how are you modelling the customer, user or partner in your conceptual models? Any comments appreciated.