---
title: "Fullstack Developer"
date: 2014-04-16 20:20:31 +0200
comments: true
tags: futureWork

---
div.row
  div.article
    markdown:
      An [interesting article](http://http://www.huffingtonpost.com/mike-loukides/fullstack-developer-is-a-_b_5134310.html) in Huffington Post calls for action by developers to broaden their range, in order to get a "Full Stack Developer". The article provides an overview and various definitions of this new tech role and comes to the conclusion: 
        
      > What's really needed isn't someone who can replace all the specializations that the silos represented, but someone who can work across those specializations, someone who can work productively with people on other parts of the team.
      
      Exposing yourself to new ideas and try to get an understanding of the whole stack is key

      > Full-stack development is about exposing yourself to a broad range of ideas. This is a theme we'll see repeatedly in the coming years. Being a full-stack developer isn't about jumping
      immediately from working on the Hadoop cluster to the Java middleware to the JavaScript that runs in the browser. Specialization exists for a reason. But developers who understand the whole stack are going to build better applications.
  
      A strategy which personally drives my daily work, as well as my spare time development work. 

        > ... being a full-stack developer is a tall order, but it's as much aspirational as anything else. 