---

title: "The Death of Corporation"
date: 2014-01-18 12:09
comments: true
tags: Inspiration,Shift,FutureWork

---
div.row
  div.article
    markdown:
      From time to time I blog about the big shift going in the current working envrionment, you can find some earlier blog entries under the following category [The Future of Work](http://cloudburo.github.io/blog/categories/futurework/) 

      Xenios blog about [The death of the Corporation](http://www.xeniosblog.com/post/66587369547/the-death-of-the-corporation) outlines some very interesting points about this emerging trend in the workforce eco system 

      > The freelance economy now accounts for over one in three people in the working population... Over $1bn per annum is spent today online in hiring and paying for freelancers a figure which is projected to grow to $5bn within the next 3-5 years according to Industry analysts.

      <!--more--> 

      As he outlines

      > The biggest benefits of freelance working  - if implemented correctly – are a drastic increase in productivity.  I argue here that what drives that in turn are two things: 1) hyperspecilization ie breaking traditional more generalist jobs down to smaller ones and hiring people who are experts and super focuses on those jobs, anywhere in the world, to execute them , and 2) accountability.  Which comes from transforming the traditional employer- employee relationship to one of  service provider – client.

      I fully agree with his finding about the biggest benefit of this transformation, which moves the job market into a more direct relationship between the people offering capabilities/services and the requestor/consumer. Some kind of analogy with the rise of open API's which allows a consumer to connect directly on a fine granular level with specialized capability interfaces, bypassing any kind of intermediary layer (large corporation). 

      A point brought up by John Hagel one for my favourite emerging innovation thinker, states another important aspect

      > Integrating our passion with our profession is no longer just optional, something that might be desirable if it happens.  It’s become an imperative if we want to continue to succeed in our professional life. We’ll increasingly be competing with those who are passionate about their work – wherever they might be in the world. No matter what our credentials or current skills might be, we’ll find ourselves at a growing disadvantage as others, driven by passion, learn faster than we ever will and achieve ever higher levels of performance.

      (via [Edge Perspectives with John Hagel: What Is To Be Done? (Part 1)](http://edgeperspectives.typepad.com/edge_perspectives/2014/01/what-is-to-be-done-part-1.html))

      Being able to work in environments and provider/consumer relationships which are fully focused  on the required capabilities to complete a task will allow passionate people to excel. The more focused such a relationship is the better. Big corporations have a tendency to introduce multiple intermediary layers with their own politics and side strategies, which results that passionate work is mainly absorbed by endless agreements, issue resolution meetings to get the multiple organizational units in sync to accept new ideas. As John stated in the problem statement of another blog entry

      > Here’s the problem. We live in a world of institutions that were built in a different era – one that relentlessly sought to suppress passion in the name of predictability and efficiency. And when I say institutions, I mean all of our institutions – corporations, schools, NGO’s and government.

      (via [Edge Perspectives with John Hagel: What Is To Be Done? (Part 2)](http://edgeperspectives.typepad.com/edge_perspectives/2014/01/what-is-to-be-done-part-2.html))

      Corporations have to radical change as he states

      > If we take this seriously, we'll have to re-think all aspects of our institutions, starting with a systematic redesign of our work environments to accelerate learning. We’ll need to design and deploy scalable pull platforms that can help all of us to draw out people and resources when we need them and where we need them to support our questing and connecting dispositions. The Power of Pull develops this opportunity much more fully.

      Personally I believe that todays large corporation will face immense pressure by this trend and a lot of them will not be able get their supertanker organizations aligned in time. There are stormy times in front of corporations, which will impact at the end every worker contributing to the profit of the overall company and may put them out of job. Passionate employees should closely watch the strategy of their company and think about their own strategy how to adapt and position themselves in the new world. 

