---
title: "The Passion of the Explorer"
date: 2014-03-09 16:35
comments: true
tags: Inspiration, FutureWork

---
div.row
  div.article
    markdown:
      John Hagel belongs to one of my favourite thinkers and source of inspiration about the future of a global connected community and the big shift. See my recent [blog article](http://cloudburo.github.com/blog/2012/10/16/the-big-shift/) to this topic.

      In this short video he talks about what is a questing disposition, the passion of the explorer and what drives people to work.

      <div style='text-align:center'>
      <script type='text/javascript' src='http://pshared.5min.com/Scripts/PlayerSeed.js?sid=281&width=560&height=345&playList=517546026'></script>
      <br/>
      </div>