---

title: "Microtization of the Enterprises"
date: 2014-01-17 13:11
comments: true
tags: futureWork, shift
 
---
div.row
  div.article
    markdown:

      This is a reblog of the [Cloudburo vision](http://cloudburo.github.io/docs/model/vision.html) documentation, as part of my [The Future of Work](http://cloudburo.github.io/blog/categories/futurework/) blog series.

      As outlined in the inspiring book "[Race Against the Machine](http://raceagainstthemachine.com/)" of Erik Brynjolfsson and Andrew McAfee 

      > … digital technologies create enormous opportunities for individuals to use their unique and dispersed knowledge for the benefit of the whole economy. As a result technology enables more and more opportunities for what Google chief economis Hal Varian calls "[micromultinationals](http://www.foreignpolicy.com/articles/2011/08/15/micromultinationals_will_run_the_world)" - businesses with less than a dozen employees that sell to customers worldwide …

      Which gets defined by Hal Varian as follows

      > For example, even the smallest company can now afford a communications and computational infrastructure that would have been the envy of a large corporation 15 years ago. If the late 20th century was the age of the multinational company, the early 21st will be the age of the micromultinational: small companies that operate globally.

      <!--more-->

      Both statement are describing small companies which can have a disruptive impact on a global level, but the same pattern also applies to micro companies which are acting in a niche on a local or regional level. This introduces new models and opportunities for self-employed or part time worker which could potential radically change our enterprise landscape.

      Sara Horowitz describes the impact of the new technology on the workforce of the industrial countries in her Atlantic article '[The Freelance Surge Is the Industrial Revolution of our Time](http://www.theatlantic.com/business/archive/2011/08/the-freelance-surge-is-the-industrial-revolution-of-our-time/244229/)', which is neatly summarized in the following paragraph

      >Everywhere we look, we can see the U.S. workforce undergoing a massive change. No longer do we work at the same company for 25 years, waiting for the gold watch, expecting the benefits and security that come with full-time employment. We're no longer simply lawyers, or photographers, or writers. Instead, we're part-time lawyers-cum- amateur photographers who write on the side.

      And she moves describing this patchwork career style

      >Today, careers consist of piecing together various types of work, 
      juggling multiple clients, learning to be marketing and accounting experts, and creating offices in bedrooms/coffee shops/coworking spaces. Independent workers abound. We call them freelancers, contractors, sole proprietors, consultants, temps, and the self-employed.
      >
      > And, perhaps most surprisingly, many of them love it.

      ### From the Push to the Pull Model

      Beside this company microtization trend, the digitial technology revolution also triggered a shift from a push model (product oriented business) to a pull one (service oriented business). Refer to my blog entry '[The Big Shift and the Social Enterprise](http://cloudburo.ch/news/view/the_big_shift_and_the_social_enterprise)' which gives an overview of this excellent work by John Hagel, John Seely Brown and Lang Davison. So in a nutshell it means

      > A product conception for revenues means that the big money comes from The Sale, when the customer buys the product. A large lump sum of money is paid at that point, and then the customer uses that product as he or she wishes. A product-focused business spends relatively little time or money with the customer after that, until the time comes for the next sale. This is the Push approach to business.

      In contrast to that are the service-oriented companies:

      >Things are different in a service-oriented company. The sale of the product is merely the inauguration of the customer relationship, with many subsequent interactions to follow. And the service-oriented company may offer to transfer the product to the customer in return for a stream of payments, instead of one initial sum. The company and customer remain engaged throughout the stream of payments

      ### The Business Model

      These two game changing trends are influencing and shaping the building blocks of the Cloudburo business model. The business model is developed on the base '[Business Model Generation](http://www.businessmodelgeneration.com/)' handbook (just awful book) which defines nine basic building blocks that show the logic of how a company intends to make money

      * From a **Customer Segment** perspective the Clouburo offering will concentrate on micro companies which are normally serving a regional or local market with a minimal workforce. The micro company using our offering has a service oriented value proposition of its limited but strong set of core competencies and capabilities.  
      * As a **Value Proposition** the Cloudburo Platform will offer a 'reduce to the max' operation platform which helps to minimize time spent in the administrational effort on the one side, as well to speed up and optimize the customer engangement and relationship process within the company. The philosophy of the platform is to provide just the bare minimum of functionality to support the day2day activities of a micro company in the most efficient and intuitive manner.
      * 

      > The Clouburo IT platform isn’t a Swiss Army knife; it’s a carving blade, designed to do a limited number of things extremely well 


