---
title: Welcome
layout: simple
---

div.row
  img.pull-left.img-responsive.img-thumbnail.article src="images/CarvingBladeMini2.png"

  div.article
    markdown:
      Welcome to the documentation and blogging platform of the  Cloudburo Micro Business App Platform.

      <a href=https://cloudburo.net>cloudburo.net</a> is in the bootstrapping phase and will provide a subscription-based platform for web based apps targeted at micro businesses.

      dev.cloudburo.net – aka this content platform – will host all the technical documents and blogs which were created during the bootstrapping of this cloud based micro company.

      <a href="https://cloudburo.net">cloudburo.net</a> will over time emerge from the current static web page (providing some initial landing pages) to the target mirco business app platform.

      Personal goal is to document this iterative and organical growth process over time on this site. 

      * Due to the fact that I can only devote partial time in the design and development of the platform (beside my full time IT job at a Swiss Bank) it’s an absolute necessity to document the work rigorously in order to take up development work efficiently after a longer break.
      * Beside that I believe it will help other bootstrapper or micropreneur to get some useful information required for building up a micro company.

      Have fun !
      
      
        > Having personally accompanied the bootstrapping of a successful microbusiness during the last two years, I realized that there is a need for easy to handle and fully managed applications aimed at the mbiz market.

        > The philosophy of these mbiz apps must be to provide just the bare minimum of functionality to support the day2day activities of a micro-enterprise in the most efficient and intuitive manner.

        > A cloudburo mbiz app isn’t a Swiss Army knife; it’s a carving blade, designed to do a limited number of things extremely well.
      
      

      
